.firstdiv{
    
    padding: 24px 80px 24px 80px;
}
.navigation{
    
    height: 56px;
    display:flex;
    justify-content: space-between;    
}
.vardiv{
    display: flex;
    align-items: center;
}

.varsha{
    height: 40px;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

a{
    font-family: "Sora", sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}
.secdiv1{
    height: 650px;
    padding: 0%60px 80px 60px 80px;
}
.secdiv2{
   
    height: 630px;
    justify-content: space-between;
    padding: 32px 32px;
    display: flex;
}
.banner{
    width: 595px;
    height: 600px;
    float: left;
}
.icons{
    display: flex;
}
.para{
    width: 600px;
    height: 376px;
    padding: 20px 20px;
    gap:48px;
}
.firstpara{
    width: 600px;
    height: 208px;
    padding-top: 60px;
}
.pp12, .pp34{
    display: flex;
    gap:16px;
}
.pp2,.pp3,.pp6{
    font-weight: 800;
}
span{
    font-size: 48px;
    font-family: "Sora", sans-serif;

}
.secpara{
    height: 96px;
    font-family: "Sora", sans-serif;
    font-size: 16px;
    padding-top: 30px;
}
.icon{
    height: 70px;
    width: 70px;
    border-radius: 5px;
    gap: 8px;
    border-color: #000000;
    border-width: 1px;
    background-color: white;
    align-items: center;
}
.icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 30px;
}
.iconimg{
    width: 40px;
    height: 40px;
}
.fisthalf{
    padding-top: 20px;
    padding-left:25px ;
}
.secpag{
    height: 500px;
    padding: 60px 80px 60px 80px;
}
.secinner{
    display: flex;
    justify-content: space-between;
    gap:40px
    
}
.aboutimg{
    
    width: 520px;
    height: 592px;
    
}
.content{
    width: 700px;
    height: 570px;
}
.about1{
    height: 100px;
    align-items: center;
    display: flex;
    gap: 10px;

}
.abotxt, .metxt{
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 48px;
}
.metxt{
    font-weight: 800;

}
.about2{
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.firstline{
    height: 96px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap:20px;
}
.thirdpg{
    height: 380px;
    padding: 60px 80px 60px 80px;
}
.thirdinner{
    height: 608px;
    padding: 32px 32px;
}
.txt1, .txt2{
    
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 48px;
}
.txt2{
    font-weight: 800;

}
.skilllogos{
    height: 490px;
}
.divi1, .divi2{
    height: 226px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.skil{
    /* height: 450px; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
    place-items: center;
    padding-top: 30px;
}
.imgbor{
    width: 110px;
    height:130px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.imgg{
    width: 58px;
    height:58px; 
    
}
.imgtag{
    
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
}
.fourthpg{
    /* width: 100%; */
   background-color: #000000; 
    padding: 0px 90px 60px 90px;
    height: 1524px;
}
.fourthinner{
    padding: 32px 32px;
    gap: 20px;
}
.fourthpgtitle{
    height: 96px;
    padding-bottom: 50px;
    gap: 16px;
    display: flex;
    justify-content: center;
}
.txt1pj, .txt2pj{
    color: white;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 48px;
    
}
.txt2pj{
    font-weight: 800;

}
.pj{
    padding: 20px 20px;
    gap:70px;
    display: flex;
    justify-content: space-between;
}
.pjimg{
    width: 600px;
}
.pjdetails{
    width: 600px;
    height:400px;
    gap:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pjnumm{
    font-size: 30px;
}
.pjnumm, .pjtitle, .pjinfo{
    color: white;
}
.pjtitle{
    height:60px;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 30px;

}
h2{
    margin: 0%;
}
.pjinfo, .cerdis{
    font-family: "Sora", sans-serif;
    
    font-size:18px;
    
}
.pjimgg{
    width:600px;
    height: 398px;
    border-radius: 19px;
    
}
.fifthpg{
    height: 1000px;
    padding:60px 80px 60px 80px ;

}

.cer1{
   
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px 30px;
    margin-top: 30px;
    
}
.certitle{
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.lastpg{
    height: 504px;
    padding: 60px 80px 60px 80px;
    
    
}
.input{
    width: 500px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid black;
    padding: 0px 24px 0px  14px;


}
.lastinner{
    height: 480px;
    display: flex;
    padding-top: 20px;
}
.clientdet, .dis{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.help{
    font-family: "Sora", sans-serif;
    width: 526px;
    height: 100px;
    border-radius: 4px;
    border: 2px solid black;
    
    padding-top: 10px;
    padding-left: 10px;
    text-align: start;
}
.but{
    width: 170px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 20px 16px 20px;
    background-color: #000000;
    color: white;
}
.butico{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.iconn{
    height: 58px;
    width: 58px;
    border-radius: 5px;
    padding: 16px;
    gap: 8px;
    border-color: #000000;
    border-width: 2px;
    background-color: white;
    padding: 2px 2px 1px 1px;
    
}
.iconimgg{
    width: 25px;
    height: 25px;
}
.icoons{
    width: 300px;
    display: flex;
    justify-content: space-around;
   
}
.endlines{
    width: 600px;
    padding: 20px 20px;
    gap: 24px;
    padding-left: 100px;
    
}
.txttt{
    font-family: Arial, sans-serif;
    color: transparent; /* Make the fill color transparent */
    -webkit-text-stroke: 3px black;
    font-weight: 800; 
    /* font-family: "Sora", sans-serif;

    font-weight: 800;
    color: white;
    -webkit-text-stroke: 2px black; Border width and color */
}
.mail{
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.blank{
    height: 100px;
    background-color: #000000;
}


.hamburger {
    display: none;
    
    
}
.menuitem, .menuimg,.mobaboutimg, .mobbanner, .mobpjimgg{
    display: none;
}





@media (max-width: 500px) {
    body{
        height: 8000px;
    }
    .firstdiv {
        width: 95%;
        padding: 16px;
    }
    .navigation {
        height: auto;
        align-items: center;
    }
    .vardiv {
        flex: 1;
    }
    .varsha {
        height: 30px;
    }
    .nav , .aboutimg {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
       
    }
    .bar {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 3px 0;
        transition: 0.3s;
    }
    .btn img,.banner {
        display: none;
    }
   
    #myLinks {
        display: none;
    }
    #myLinks.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 40%;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        gap: 15px;
        
    }
    .menuitem{
        display: flex;
        size: 18px;
        font-weight: 450;
    }
    .menuimg{
        display: flex;
        width: 120px;
        height: 40px;
    }
    .secdiv2 , .secinner{
        flex-direction: column;
    }
    /* .secdiv2{
        height: 1200px;
    } */
    .secpag{
        margin-top: 160px;
    } 
    img.mobbanner {
        display: flex;
        max-width: 550px;
        height: auto;
    }
    
    .fisthalf, .firstpara{
        max-width: 100%;
    }
   
    .mobaboutimg{
        display: flex;

        max-width: 50%;
        height: auto;
    }
    span{
        font-size: 38px;
        left: 0px;
    }
    .fisthalf,.para ,.firstpara{
        padding-left: 0%;
        padding-top: 0%;
    }
    .secdiv2{
        padding-left: 5%;
    }
    .secpara {
        height: 96px;
        width: 385px;
        padding-top:0% ;
    }
    .varsha {
        height: 40px;
    }
    .imglogo{
        height: 50px;

    }
    .para{
        height: 320px;
        
    }
    .icons{
        padding-left: 40px;
    }
    .secpag{
        padding-left: 5%;
    }
    .about1{
        padding-left: 7%;
    }
    .secpag {
        margin-top: 50%;
    }
    .about2{
        max-width: 385px;
    }
    .thirdpg{
        padding-top: 500px;
        padding-left: 0%;

    }
    .thirdinner{
        padding-left: 2%;

    }
    .firstline{
        padding-left: 80%;
    }
    .skil{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 25px;
        padding: 20px;
        padding-left: 3%;
    
    }
    .fourthpg{
        width: auto;
        margin-top: 30%;
        padding-left: 0%;
        height: 2004px;
    }
    .imgbor {
        
        border: 1px solid black;
        border-radius: 8px;
        
    }
    .fourthpgtitle{
        padding-left: 30%;
    }
    .lastinner, .pj{
        flex-direction: column;
        gap: 0px;
    }
    .pjimgg {
        width: 400px;
        height: 184px;
     
    }
    #mobpjimgg{
        display: flex;
    }
    #secpj{
        display: none;
    }
    .pjinfo{
        width: 400px;
    }
    .pjdetails{
        margin-bottom: 90px;
    }
}